In [61]:
!pip install bayesian-optimization

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bayesian-optimization
  Downloading bayesian-optimization-1.2.0.tar.gz (14 kB)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from bayesian-optimization) (1.21.6)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from bayesian-optimization) (1.7.3)
Requirement already satisfied: scikit-learn>=0.18.0 in /usr/local/lib/python3.7/dist-packages (from bayesian-optimization) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18.0->bayesian-optimization) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18.0->bayesian-optimization) (3.1.0)
Building wheels for collected packages: bayesian-optimization
  Building wheel for bayesian-optimization (setup.py) ... done
  Created wheel for bayesian-optimization: filename=bayesian_optimization-1.2.0-py3-none-any.whl size=11685 sha256=12e7bf92c968a06cf6393627b0421abf1f7a86b7fc603667ff8caf896c55344a
  Stored in directory: /root/.cache/pip/wheels/fd/9b/71/f127d694e02eb40bcf18c7ae9613b88a6be4470f57a8528c5b
Successfully built bayesian-optimization
Installing collected packages: bayesian-optimization
Successfully installed bayesian-optimization-1.2.0

In [67]:
# Import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from tensorflow.keras.optimizers import Adam, SGD, RMSprop, Adadelta, Adagrad, Adamax, Nadam, Ftrl
from sklearn.model_selection import cross_val_score
from keras.models import Sequential
from keras.layers import Dense, BatchNormalization, Dropout
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras.wrappers.scikit_learn import KerasClassifier
from math import floor
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import StratifiedKFold
from keras.layers import LeakyReLU
LeakyReLU = LeakyReLU(alpha=0.1)
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None)
from bayes_opt import BayesianOptimization, UtilityFunction

In [3]:
df=pd.read_csv("full_data.csv")

In [6]:
df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000
mean,43.419859,0.096165,0.055210,105.943562,28.498173,0.049789
std,22.662755,0.294848,0.228412,45.075373,6.790464,0.217531
min,0.080000,0.000000,0.000000,55.120000,14.000000,0.000000
25%,25.000000,0.000000,0.000000,77.230000,23.700000,0.000000
50%,45.000000,0.000000,0.000000,91.850000,28.100000,0.000000
75%,61.000000,0.000000,0.000000,113.860000,32.600000,0.000000
max,82.000000,1.000000,1.000000,271.740000,48.900000,1.000000

In [7]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,40.0,0,0,Yes,Private,Rural,83.94,30.0,smokes,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

In [10]:
df.isna().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [11]:
df.dtypes

gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [17]:
df=df.apply(lambda col: pd.factorize(col, sort=True)[0])

In [18]:
X=df.drop("stroke",axis=1)
Y=df["stroke"]

In [19]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,88,0,1,1,1,1,3769,225,1,1
1,1,101,0,1,1,1,0,2444,184,2,1
2,0,70,0,0,1,1,1,3324,203,3,1
3,0,100,1,0,1,2,0,3333,99,2,1
4,1,102,0,0,1,1,1,3386,149,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,1,62,0,0,0,1,0,576,157,1,0
4977,1,61,0,0,1,1,1,3414,170,3,0
4978,0,66,1,0,1,0,0,1947,177,3,0
4979,1,61,0,0,1,1,0,1350,159,3,0
4980,0,101,1,0,1,1,1,1336,150,2,0

In [20]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
 
df_scaled = scaler.fit_transform(df.to_numpy())
df_scaled = pd.DataFrame(df_scaled, columns=df.columns)

In [21]:
df_scaled

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1.0,0.854369,0.0,1.0,1.0,0.333333,1.0,0.967899,0.659824,0.333333,1.0
1,1.0,0.980583,0.0,1.0,1.0,0.333333,0.0,0.627632,0.539589,0.666667,1.0
2,0.0,0.679612,0.0,0.0,1.0,0.333333,1.0,0.853621,0.595308,1.000000,1.0
3,0.0,0.970874,1.0,0.0,1.0,0.666667,0.0,0.855932,0.290323,0.666667,1.0
4,1.0,0.990291,0.0,0.0,1.0,0.333333,1.0,0.869543,0.436950,0.333333,1.0
...,...,...,...,...,...,...,...,...,...,...,...
4976,1.0,0.601942,0.0,0.0,0.0,0.333333,0.0,0.147920,0.460411,0.333333,0.0
4977,1.0,0.592233,0.0,0.0,1.0,0.333333,1.0,0.876733,0.498534,1.000000,0.0
4978,0.0,0.640777,1.0,0.0,1.0,0.000000,0.0,0.500000,0.519062,1.000000,0.0
4979,1.0,0.592233,0.0,0.0,1.0,0.333333,0.0,0.346687,0.466276,1.000000,0.0
4980,0.0,0.980583,1.0,0.0,1.0,0.333333,1.0,0.343092,0.439883,0.666667,0.0

In [44]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.25)

In [69]:
# Make scorer accuracy
score_acc = make_scorer(accuracy_score)

In [63]:
# Create function
def nn_cl_bo(neurons, activation, optimizer, learning_rate,  batch_size, epochs ):
    optimizerL = ['SGD', 'Adam', 'RMSprop', 'Adadelta', 'Adagrad', 'Adamax', 'Nadam', 'Ftrl','SGD']
    optimizerD= {'Adam':Adam(lr=learning_rate), 'SGD':SGD(lr=learning_rate),
                 'RMSprop':RMSprop(lr=learning_rate), 'Adadelta':Adadelta(lr=learning_rate),
                 'Adagrad':Adagrad(lr=learning_rate), 'Adamax':Adamax(lr=learning_rate),
                 'Nadam':Nadam(lr=learning_rate), 'Ftrl':Ftrl(lr=learning_rate)}
    activationL = ['relu', 'sigmoid', 'softplus', 'softsign', 'tanh', 'selu',
                   'elu', 'exponential', LeakyReLU,'relu']
    neurons = round(neurons)
    activation = activationL[round(activation)]
    batch_size = round(batch_size)
    epochs = round(epochs)
    def nn_cl_fun():
        opt = Adam(lr = learning_rate)
        nn = Sequential()
        nn.add(Dense(neurons, input_dim=10, activation=activation))
        nn.add(Dense(neurons, activation=activation))
        nn.add(Dense(1, activation='sigmoid'))
        nn.compile(loss='binary_crossentropy', optimizer=opt, metrics=['accuracy'])
        return nn
    es = EarlyStopping(monitor='accuracy', mode='max', verbose=0, patience=20)
    nn = KerasClassifier(build_fn=nn_cl_fun, epochs=epochs, batch_size=batch_size,
                         verbose=0)
    kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=123)
    score = cross_val_score(nn, X_train, y_train, scoring=score_acc, cv=kfold, fit_params={'callbacks':[es]}).mean()
    return score

In [64]:
# Set paramaters
params_nn ={
    'neurons': (10, 100),
    'activation':(0, 9),
    'optimizer':(0,7),
    'learning_rate':(0.01, 1),
    'batch_size':(200, 1000),
    'epochs':(20, 100)
}

In [70]:
nn_bo = BayesianOptimization(nn_cl_bo, params_nn, random_state=111)
nn_bo.maximize(init_points=25, n_iter=4)

|   iter    |  target   | activa... | batch_... |  epochs   | learni... |  neurons  | optimizer |
-------------------------------------------------------------------------------------------------
|  1        |  0.9518   |  5.51     |  335.3    |  54.88    |  0.7716   |  36.58    |  1.044    |
|  2        |  0.9515   |  0.2023   |  536.2    |  39.09    |  0.3443   |  99.16    |  1.664    |
|  3        |  0.9518   |  0.7307   |  735.7    |  69.7     |  0.2815   |  51.96    |  0.8286   |
|  4        |  0.9518   |  0.6656   |  920.6    |  83.52    |  0.8422   |  83.37    |  6.937    |
|  5        |  0.9518   |  5.195    |  851.0    |  53.71    |  0.03717  |  50.87    |  0.7373   |
|  6        |  0.9518   |  7.355    |  758.2    |  65.22    |  0.2815   |  99.86    |  0.9663   |
|  7        |  0.9518   |  5.539    |  588.0    |  52.4     |  0.7306   |  39.05    |  2.804    |
|  8        |  0.9518   |  2.871    |  957.8    |  93.5     |  0.8157   |  13.07    |  6.604    |
|  9        |  0.9518   |  8.554    |  845.3    |  58.5     |  0.9671   |  47.53    |  2.232    |
|  10       |  0.9518   |  0.148    |  230.5    |  24.25    |  0.1367   |  13.0     |  1.585    |
|  11       |  0.9518   |  4.895    |  342.9    |  34.35    |  0.1581   |  71.47    |  3.283    |
|  12       |  0.9518   |  6.914    |  735.1    |  55.3     |  0.5993   |  51.55    |  6.743    |
|  13       |  0.9518   |  1.33     |  925.5    |  59.83    |  0.5966   |  71.62    |  1.242    |
|  14       |  0.9513   |  7.782    |  585.7    |  25.55    |  0.3711   |  42.54    |  3.304    |
|  15       |  0.9518   |  1.615    |  340.2    |  95.93    |  0.6591   |  22.15    |  6.495    |
|  16       |  0.7914   |  7.576    |  242.2    |  36.29    |  0.8738   |  70.65    |  2.081    |
|  17       |  0.9518   |  6.61     |  694.7    |  36.84    |  0.804    |  15.32    |  2.158    |
|  18       |  0.9518   |  1.866    |  977.8    |  92.75    |  0.6797   |  20.37    |  6.706    |
|  19       |  0.9518   |  0.8254   |  703.8    |  92.23    |  0.3464   |  68.75    |  6.476    |
|  20       |  0.9518   |  3.366    |  817.1    |  91.69    |  0.624    |  23.6     |  2.624    |
|  21       |  0.9518   |  5.723    |  567.3    |  62.58    |  0.3588   |  69.39    |  3.336    |
|  22       |  0.9518   |  4.091    |  299.8    |  53.0     |  0.2804   |  41.21    |  6.821    |
|  23       |  0.9518   |  1.94     |  746.3    |  22.54    |  0.837    |  73.15    |  6.762    |
|  24       |  0.9513   |  5.326    |  373.9    |  77.54    |  0.04056  |  47.68    |  1.969    |
|  25       |  0.9518   |  0.9562   |  541.1    |  87.25    |  0.1193   |  98.8     |  1.633    |
|  26       |  0.9518   |  5.57     |  433.8    |  24.8     |  0.9045   |  98.07    |  4.911    |
|  27       |  0.9518   |  4.292    |  480.3    |  68.93    |  0.01615  |  24.63    |  1.273    |
|  28       |  0.9494   |  0.0      |  656.4    |  21.99    |  0.01     |  100.0    |  6.192    |
|  29       |  0.9518   |  4.633    |  998.5    |  21.2     |  0.9361   |  97.06    |  4.036    |
=================================================================================================

In [71]:
params_nn_ = nn_bo.max['params']
activationL = ['relu', 'sigmoid', 'softplus', 'softsign', 'tanh', 'selu',
               'elu', 'exponential', LeakyReLU,'relu']
params_nn_['activation'] = activationL[round(params_nn_['activation'])]
params_nn_

{'activation': 'elu',
 'batch_size': 335.25580347650913,
 'epochs': 54.884721549693616,
 'learning_rate': 0.7715698477978916,
 'neurons': 36.57927739625886,
 'optimizer': 1.0441406999764284}

In [72]:
# Create function
def nn_cl_bo2(neurons, activation, optimizer, learning_rate, batch_size, epochs,
              layers1, layers2, normalization, dropout, dropout_rate):
    optimizerL = ['SGD', 'Adam', 'RMSprop', 'Adadelta', 'Adagrad', 'Adamax', 'Nadam', 'Ftrl','SGD']
    optimizerD= {'Adam':Adam(lr=learning_rate), 'SGD':SGD(lr=learning_rate),
                 'RMSprop':RMSprop(lr=learning_rate), 'Adadelta':Adadelta(lr=learning_rate),
                 'Adagrad':Adagrad(lr=learning_rate), 'Adamax':Adamax(lr=learning_rate),
                 'Nadam':Nadam(lr=learning_rate), 'Ftrl':Ftrl(lr=learning_rate)}
    activationL = ['relu', 'sigmoid', 'softplus', 'softsign', 'tanh', 'selu',
                   'elu', 'exponential', LeakyReLU,'relu']
    neurons = round(neurons)
    activation = activationL[round(activation)]
    optimizer = optimizerD[optimizerL[round(optimizer)]]
    batch_size = round(batch_size)
    epochs = round(epochs)
    layers1 = round(layers1)
    layers2 = round(layers2)
    def nn_cl_fun():
        nn = Sequential()
        nn.add(Dense(neurons, input_dim=10, activation=activation))
        if normalization > 0.5:
            nn.add(BatchNormalization())
        for i in range(layers1):
            nn.add(Dense(neurons, activation=activation))
        if dropout > 0.5:
            nn.add(Dropout(dropout_rate, seed=123))
        for i in range(layers2):
            nn.add(Dense(neurons, activation=activation))
        nn.add(Dense(1, activation='sigmoid'))
        nn.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])
        return nn
    es = EarlyStopping(monitor='accuracy', mode='max', verbose=0, patience=20)
    nn = KerasClassifier(build_fn=nn_cl_fun, epochs=epochs, batch_size=batch_size, verbose=0)
    kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=123)
    score = cross_val_score(nn, X_train, y_train, scoring=score_acc, cv=kfold, fit_params={'callbacks':[es]}).mean()
    return score

In [73]:
params_nn2 ={
    'neurons': (10, 100),
    'activation':(0, 9),
    'optimizer':(0,7),
    'learning_rate':(0.01, 1),
    'batch_size':(200, 1000),
    'epochs':(20, 100),
    'layers1':(1,3),
    'layers2':(1,3),
    'normalization':(0,1),
    'dropout':(0,1),
    'dropout_rate':(0,0.3)
}
# Run Bayesian Optimization
nn_bo = BayesianOptimization(nn_cl_bo2, params_nn2, random_state=111)
nn_bo.maximize(init_points=25, n_iter=4)

|   iter    |  target   | activa... | batch_... |  dropout  | dropou... |  epochs   |  layers1  |  layers2  | learni... |  neurons  | normal... | optimizer |
-------------------------------------------------------------------------------------------------------------------------------------------------------------
|  1        |  0.9489   |  5.51     |  335.3    |  0.4361   |  0.2308   |  43.63    |  1.298    |  1.045    |  0.426    |  31.48    |  0.3377   |  6.935    |
|  2        |  0.9518   |  2.14     |  265.0    |  0.6696   |  0.1864   |  41.94    |  1.932    |  1.237    |  0.08322  |  91.07    |  0.794    |  5.884    |
|  3        |  0.9518   |  7.337    |  992.8    |  0.5773   |  0.2441   |  53.71    |  1.055    |  1.908    |  0.1143   |  83.55    |  0.6977   |  3.957    |
|  4        |  0.9277   |  2.468    |  998.8    |  0.138    |  0.1846   |  58.8     |  1.81     |  2.456    |  0.3296   |  46.05    |  0.319    |  6.631    |
|  5        |  0.9518   |  8.268    |  851.1    |  0.03408  |  0.283    |  96.04    |  2.613    |  1.963    |  0.9671   |  47.53    |  0.3188   |  0.1151   |
|  6        |  0.9518   |  0.3436   |  242.5    |  0.128    |  0.01001  |  38.11    |  2.088    |  1.357    |  0.1876   |  23.47    |  0.683    |  3.283    |
|  7        |  0.9518   |  6.914    |  735.1    |  0.4413   |  0.1786   |  56.93    |  2.927    |  1.296    |  0.9077   |  54.81    |  0.5925   |  4.793    |
|  8        |  0.9518   |  1.597    |  891.7    |  0.4821   |  0.0208   |  49.18    |  1.723    |  1.944    |  0.1877   |  25.78    |  0.9491   |  4.59     |
|  9        |  0.9518   |  1.215    |  942.2    |  0.8418   |  0.01583  |  36.29    |  2.745    |  2.348    |  0.3043   |  76.1     |  0.6183   |  1.473    |
|  10       |  0.9518   |  7.219    |  247.3    |  0.3082   |  0.06221  |  97.78    |  2.819    |  2.353    |  0.124    |  96.22    |  0.09171  |  4.409    |
|  11       |  0.9344   |  8.126    |  471.8    |  0.6528   |  0.2775   |  49.92    |  2.543    |  2.792    |  0.624    |  23.6     |  0.3749   |  4.451    |
|  12       |  0.9518   |  4.132    |  625.8    |  0.3523   |  0.198    |  58.12    |  1.909    |  1.25     |  0.4183   |  34.58    |  0.3467   |  6.821    |
|  13       |  0.9518   |  1.94     |  746.3    |  0.03181  |  0.2506   |  76.13    |  2.932    |  2.184    |  0.2252   |  74.73    |  0.03087  |  2.931    |
|  14       |  0.9518   |  2.531    |  285.0    |  0.4263   |  0.2522   |  28.83    |  2.973    |  1.467    |  0.7242   |  69.48    |  0.07776  |  4.881    |
|  15       |  0.9518   |  2.388    |  921.5    |  0.8183   |  0.1198   |  85.62    |  1.396    |  2.045    |  0.4184   |  93.33    |  0.8254   |  3.507    |
|  16       |  0.9518   |  1.051    |  209.3    |  0.9132   |  0.1537   |  87.45    |  1.19     |  2.607    |  0.07161  |  67.19    |  0.9688   |  2.782    |
|  17       |  0.9518   |  5.936    |  371.9    |  0.8899   |  0.296    |  79.09    |  2.283    |  1.504    |  0.4811   |  34.13    |  0.8683   |  1.868    |
|  18       |  0.9518   |  8.757    |  370.8    |  0.2978   |  0.221    |  21.03    |  1.06     |  2.468    |  0.5033   |  29.63    |  0.00893  |  5.955    |
|  19       |  0.9518   |  4.828    |  778.8    |  0.6616   |  0.2516   |  51.06    |  1.852    |  2.656    |  0.4743   |  83.8     |  0.01418  |  2.777    |
|  20       |  0.9518   |  1.155    |  294.5    |  0.206    |  0.2243   |  94.41    |  1.761    |  1.921    |  0.8746   |  83.31    |  0.02497  |  6.111    |
|  21       |  0.9518   |  5.441    |  613.2    |  0.5893   |  0.2399   |  33.86    |  1.374    |  1.516    |  0.06056  |  59.74    |  0.3518   |  6.419    |
|  22       |  0.9518   |  4.289    |  283.6    |  0.1525   |  0.08206  |  82.52    |  1.786    |  2.598    |  0.4387   |  17.34    |  0.01064  |  3.016    |
|  23       |  0.8884   |  5.966    |  612.2    |  0.5801   |  0.1479   |  79.24    |  2.579    |  2.562    |  0.1363   |  94.61    |  0.8777   |  4.897    |
|  24       |  0.8327   |  8.432    |  739.0    |  0.5944   |  0.1035   |  26.69    |  2.159    |  1.035    |  0.5569   |  66.93    |  0.6784   |  1.194    |
|  25       |  0.9518   |  5.194    |  364.8    |  0.2515   |  0.2908   |  91.73    |  1.246    |  2.762    |  0.9485   |  51.39    |  0.413    |  4.04     |
|  26       |  0.9518   |  0.5887   |  374.7    |  0.02541  |  0.2082   |  89.98    |  1.599    |  2.967    |  0.9918   |  41.67    |  0.7842   |  2.506    |
|  27       |  0.9518   |  6.366    |  780.2    |  0.6271   |  0.1646   |  53.26    |  1.954    |  2.228    |  0.6962   |  81.66    |  0.1557   |  2.563    |
|  28       |  0.9518   |  3.701    |  733.1    |  0.2115   |  0.2776   |  80.44    |  1.855    |  1.745    |  1.0      |  44.17    |  0.09354  |  7.0      |
|  29       |  0.9518   |  3.83     |  269.3    |  0.4691   |  0.109    |  66.46    |  2.265    |  1.7      |  0.3993   |  58.06    |  0.3825   |  5.096    |
=============================================================================================================================================================

In [74]:
params_nn_ = nn_bo.max['params']
learning_rate = params_nn_['learning_rate']
activationL = ['relu', 'sigmoid', 'softplus', 'softsign', 'tanh', 'selu',
               'elu', 'exponential', LeakyReLU,'relu']
params_nn_['activation'] = activationL[round(params_nn_['activation'])]
params_nn_['batch_size'] = round(params_nn_['batch_size'])
params_nn_['epochs'] = round(params_nn_['epochs'])
params_nn_['layers1'] = round(params_nn_['layers1'])
params_nn_['layers2'] = round(params_nn_['layers2'])
params_nn_['neurons'] = round(params_nn_['neurons'])
optimizerL = ['Adam', 'SGD', 'RMSprop', 'Adadelta', 'Adagrad', 'Adamax', 'Nadam', 'Ftrl','Adam']
optimizerD= {'Adam':Adam(lr=learning_rate), 'SGD':SGD(lr=learning_rate),
             'RMSprop':RMSprop(lr=learning_rate), 'Adadelta':Adadelta(lr=learning_rate),
             'Adagrad':Adagrad(lr=learning_rate), 'Adamax':Adamax(lr=learning_rate),
             'Nadam':Nadam(lr=learning_rate), 'Ftrl':Ftrl(lr=learning_rate)}
params_nn_['optimizer'] = optimizerD[optimizerL[round(params_nn_['optimizer'])]]
params_nn_

{'activation': 'softplus',
 'batch_size': 265,
 'dropout': 0.6696002382466298,
 'dropout_rate': 0.1863728758202091,
 'epochs': 42,
 'layers1': 2,
 'layers2': 1,
 'learning_rate': 0.08321798850177216,
 'neurons': 91,
 'normalization': 0.7939625604796284,
 'optimizer': <keras.optimizer_v2.nadam.Nadam at 0x7f58dfc1e210>}

In [81]:
# Fitting Neural Network
def nn_cl_fun():
  nn = Sequential()
  nn.add(Dense(params_nn_['neurons'], input_dim=10, activation=params_nn_['activation']))
  if params_nn_['normalization'] > 0.5:
    nn.add(BatchNormalization())
  for i in range(params_nn_['layers1']):
      nn.add(Dense(params_nn_['neurons'], activation=params_nn_['activation']))
  if params_nn_['dropout'] > 0.5:
    nn.add(Dropout(params_nn_['dropout_rate'], seed=123))
  for i in range(params_nn_['layers2']):
    nn.add(Dense(params_nn_['neurons'], activation=params_nn_['activation']))
    nn.add(Dense(1, activation='sigmoid'))
    nn.compile(loss='binary_crossentropy', optimizer=params_nn_['optimizer'], metrics=['accuracy'])
    return nn
es = EarlyStopping(monitor='accuracy', mode='max', verbose=0, patience=20)
nn = KerasClassifier(build_fn=nn_cl_fun, epochs=params_nn_['epochs'], batch_size=params_nn_['batch_size'],
                         verbose=0)
nn.fit(X_train, y_train, validation_data=(X_test, y_test), verbose=1)

Epoch 1/42
15/15 [==============================] - 2s 20ms/step - loss: 1.7173 - accuracy: 0.8873 - val_loss: 0.2238 - val_accuracy: 0.9454
Epoch 2/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1937 - accuracy: 0.9518 - val_loss: 0.2440 - val_accuracy: 0.9454
Epoch 3/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1907 - accuracy: 0.9518 - val_loss: 0.3467 - val_accuracy: 0.9454
Epoch 4/42
15/15 [==============================] - 0s 9ms/step - loss: 0.2035 - accuracy: 0.9518 - val_loss: 0.4735 - val_accuracy: 0.9454
Epoch 5/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1883 - accuracy: 0.9518 - val_loss: 0.2711 - val_accuracy: 0.9454
Epoch 6/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1857 - accuracy: 0.9518 - val_loss: 0.3731 - val_accuracy: 0.9454
Epoch 7/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1942 - accuracy: 0.9518 - val_loss: 0.2083 - val_accuracy: 0.9454
Epoch 8/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1770 - accuracy: 0.9518 - val_loss: 0.2094 - val_accuracy: 0.9454
Epoch 9/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1653 - accuracy: 0.9518 - val_loss: 0.2816 - val_accuracy: 0.9454
Epoch 10/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1666 - accuracy: 0.9518 - val_loss: 0.1977 - val_accuracy: 0.9454
Epoch 11/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1659 - accuracy: 0.9518 - val_loss: 0.2080 - val_accuracy: 0.9454
Epoch 12/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1679 - accuracy: 0.9518 - val_loss: 0.2276 - val_accuracy: 0.9454
Epoch 13/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1664 - accuracy: 0.9518 - val_loss: 0.2048 - val_accuracy: 0.9454
Epoch 14/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1690 - accuracy: 0.9518 - val_loss: 0.2697 - val_accuracy: 0.9454
Epoch 15/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1794 - accuracy: 0.9518 - val_loss: 0.1877 - val_accuracy: 0.9454
Epoch 16/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1648 - accuracy: 0.9518 - val_loss: 0.2145 - val_accuracy: 0.9454
Epoch 17/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1868 - accuracy: 0.9518 - val_loss: 0.2895 - val_accuracy: 0.9454
Epoch 18/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1706 - accuracy: 0.9518 - val_loss: 0.2021 - val_accuracy: 0.9454
Epoch 19/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1607 - accuracy: 0.9518 - val_loss: 0.1954 - val_accuracy: 0.9454
Epoch 20/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1604 - accuracy: 0.9518 - val_loss: 0.3228 - val_accuracy: 0.9454
Epoch 21/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1748 - accuracy: 0.9518 - val_loss: 0.1805 - val_accuracy: 0.9454
Epoch 22/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1600 - accuracy: 0.9518 - val_loss: 0.2185 - val_accuracy: 0.9454
Epoch 23/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1637 - accuracy: 0.9518 - val_loss: 0.3313 - val_accuracy: 0.9454
Epoch 24/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1658 - accuracy: 0.9518 - val_loss: 0.2431 - val_accuracy: 0.9454
Epoch 25/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1602 - accuracy: 0.9518 - val_loss: 0.1801 - val_accuracy: 0.9454
Epoch 26/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1578 - accuracy: 0.9518 - val_loss: 0.1930 - val_accuracy: 0.9454
Epoch 27/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1605 - accuracy: 0.9518 - val_loss: 0.1981 - val_accuracy: 0.9454
Epoch 28/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1592 - accuracy: 0.9518 - val_loss: 0.1908 - val_accuracy: 0.9454
Epoch 29/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1610 - accuracy: 0.9518 - val_loss: 0.2098 - val_accuracy: 0.9454
Epoch 30/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1646 - accuracy: 0.9518 - val_loss: 0.3457 - val_accuracy: 0.8242
Epoch 31/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1961 - accuracy: 0.9333 - val_loss: 0.1802 - val_accuracy: 0.9454
Epoch 32/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1603 - accuracy: 0.9518 - val_loss: 0.3243 - val_accuracy: 0.9454
Epoch 33/42
15/15 [==============================] - 0s 10ms/step - loss: 0.1982 - accuracy: 0.9513 - val_loss: 0.5943 - val_accuracy: 0.9454
Epoch 34/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1744 - accuracy: 0.9518 - val_loss: 0.1856 - val_accuracy: 0.9454
Epoch 35/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1568 - accuracy: 0.9518 - val_loss: 0.1831 - val_accuracy: 0.9454
Epoch 36/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1552 - accuracy: 0.9518 - val_loss: 0.3361 - val_accuracy: 0.9454
Epoch 37/42
15/15 [==============================] - 0s 8ms/step - loss: 0.2027 - accuracy: 0.9459 - val_loss: 0.1898 - val_accuracy: 0.9454
Epoch 38/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1683 - accuracy: 0.9518 - val_loss: 0.1932 - val_accuracy: 0.9454
Epoch 39/42
15/15 [==============================] - 0s 9ms/step - loss: 0.1603 - accuracy: 0.9518 - val_loss: 0.1803 - val_accuracy: 0.9454
Epoch 40/42
15/15 [==============================] - 0s 10ms/step - loss: 0.1601 - accuracy: 0.9518 - val_loss: 0.1799 - val_accuracy: 0.9454
Epoch 41/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1621 - accuracy: 0.9518 - val_loss: 0.1711 - val_accuracy: 0.9454
Epoch 42/42
15/15 [==============================] - 0s 8ms/step - loss: 0.1570 - accuracy: 0.9518 - val_loss: 0.2026 - val_accuracy: 0.9454